[Unit]
Description=Sausage Store Frontend Web Service

[Service]
User={{ frontend_service_user }}
ExecStart=http-server {{ frontend_lib_directory }} -p 80 --proxy http://localhost:8080
Restart=on-failure
AmbientCapabilities=CAP_NET_BIND_SERVICE

